<a href="https://colab.research.google.com/github/Arthi2303A51595/AIML-2025/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
## Create a list, array
list1 = [1,2,3,4]
array1  = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1, array1, array2

In [ ]:
## Identify the type of Data structure
type(list1), type(array1), type(array2)

In [ ]:
## Perform Mathematical operations on arrays, lists
print("Adding two arrays:", array1 + array2)
print("Subtracting two arrays: array1 - array2")
print("Multiplying two arrays: array1 * array2")
print("Dividing two arrays: array1 / array2)")
print("Exponentiating two arrays: array1 ** array2")
print("Multiply array to list: array2 * list1")

In [ ]:
# Combine text with Numpy function
print(f"Adding{array1} with {array2}")
print(f"Result: {np.add(array1, array2)}")

In [ ]:
# Find the Sin, Log, Log2, Exp values
print(f"Sine value of array1:{np.sin(array1)}")
print(f"Log value of array1:{np.log(array1)}")
print(f"Log base 2 value of array1:{np.log2(array1)}")
print(f"Log base 10 value of array1:{np.log10(array1)}")
print(f"Exponential value of array1:{np.exp(array1)}")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#Create the data
people=["Madhuri","Varsha","karuna","nithya","vyshnavi"]
age=[20,18,17,19,16]
height=[145,156,152,153,151]
weight=[42,47,62,58,40]

In [ ]:
#Generate scatter plot
#Find the relationship between age and height
plt.scatter(age,height)
plt.xlabel("age")
plt.ylabel('height')
plt.title("Age vs Height")
plt.show()

In [ ]:
#Generate Bar Chart
#Bar chart for height
plt.figure(figsize=(5,4))
plt.bar(age,height)
plt.xlabel("People")
plt.ylabel('height')
plt.title("Height of the people")
plt.show()
save=plt.savefig('bar_chart.png')

In [ ]:
import numpy as np
plt.figure(figsize=(7,5))

# Main plot function 'hist'
plt.hist(weight,color='red',edgecolor='k', alpha=0.75,bins=5)

plt.title("Histogram of patient weight",fontsize=18)
plt.xlabel("Weight in kgs",fontsize=15)
#plt.xticks(fontsize=15)
#plt.yticks(fontsize=15)
plt.show()

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_table("Lab01-Text.txt")

In [ ]:
df1

In [ ]:
data2 = pd.read_csv("Lab01-Text.csv")

In [ ]:
data2

In [ ]:
data3 = pd.read_excel("Height_weight.xlsx")

In [ ]:
data3

In [ ]:
Aiml lab1